# ##############################
# Discord App Configuration
# ##############################

# Used by the CLI to register your bots commands.

export APPLICATION_ID=""
export APPLICATION_PUBLIC_KEY=""

# Guild is a Discord API term, synonym for server
export GUILD_ID=""

# Be sure to request the correct permissions when adding the bot to your server
# The bot token will start with "Bot".
export BOT_TOKEN=""