# ##############################
# Discord App Configuration
# ##############################

# Used by the CLI to register your bots commands.

export APPLICATION_ID=""
export APPLICATION_PUBLIC_KEY=""

# Guild is a Discord API term, synonym is server
export GUILD_ID=""

# Be sure to request the correct permissions when adding the bot to your server
# The bot token will start with "Bot".
export BOT_TOKEN="Bot ODE2OTIwMjE3Nzk1OTUyNjQw.YEB-PQ.6DZzD0QXI1uhtTFT4R8ciHK-0Bg"